<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/carousel/img1.jpg" height="600" class="d-block w-100" alt="/assets/img/carousel/img1.jpg">
        <div class="carousel-caption d-none d-md-block fondo">
          <h5>Precios increíbles</h5>
          <p>Encuentre productos con grandes descuentos, hasta un 30% de descuento!!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/carousel/img2.jpg" height="600" class="d-block w-100" alt="/assets/img/carousel/img1.jpg">
        <div class="carousel-caption d-none d-md-block fondo">
          <h5>Cree su cuenta</h5>
          <p>si usted accede con su cuenta podra ver una gran cantidad de productos disponibles a mejor precio</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/carousel/img3.jpg" height="600" class="d-block w-100" alt="/assets/img/carousel/img3.jpg">
        <div class="carousel-caption d-none d-md-block fondo">
          <h5>Compra por mayoreo!</h5>
          <p>Tendra descuentos especiales en compras por mayoreo, solo si usted tiene un buen historial</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
