<div class="text-white py-5 mt-5 fondo">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="f-colum-1">
                    <div class="card-body">
                        <h5 class="card-title">Autor: </h5>
                        <p class="card-text">Ángel de Jesús Pestaña Sánchez</p>
                        <p class="card-text">Ing. Tecnologías de la Información y la Comunicación</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="f-colum-1">
                    <div class="card-body">
                        <h5 class="card-title">¿Quienes somos?</h5>
                        <p class="card-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur error accusantium aliquam labore, expedita mollitia tempore. Mollitia totam omnis, vero, optio unde nisi voluptas, velit iure ipsa tenetur enim et.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="f-colum-1">
                    <div class="card-body">
                        <h5 class="card-title">Contactanos</h5>
                        <p class="card-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur error accusantium aliquam labore, expedita mollitia tempore. Mollitia totam omnis, vero, optio unde nisi voluptas, velit iure ipsa tenetur enim et.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
