<div class="container">
    <div class="py-4">
        <div class="card fondo">
            <h1 class="text-center text-white">Categorías</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/cards/img1.jpg" class="card-img-top" alt="/assets/img/cards/img1.jpg">
                <div class="card-body">
                    <h5 class="card-title">Abarrotes</h5>
                    <p class="card-text">
                        Productos comunes encontrados en una tienda de abarrotes (aceite, cafe, azucar, etc..).
                    </p>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-success w-100" routerLink="/abarrotes">Ver productos</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/cards/img2.jpg" class="card-img-top" alt="/assets/img/cards/img2.jpg">
                <div class="card-body">
                    <h5 class="card-title">Enlatados</h5>
                    <p class="card-text">
                        Productos de alimentos enlatados (aceitunas, sardinas, chicharos, etc..).
                    </p>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-success w-100" routerLink="/enlatados">Ver productos</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/cards/img3.jpg" class="card-img-top" alt="/assets/img/cards/img3.jpg">
                <div class="card-body">
                    <h5 class="card-title">Lacteos</h5>
                    <p class="card-text">
                        Porcutos de bebidas lacteas (leche, yogurt, crema, etc..).
                    </p>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-success w-100" routerLink="/lacteos">Ver productos</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/cards/img4.jpg" class="card-img-top" alt="/assets/img/cards/img4.jpg">
                <div class="card-body">
                    <h5 class="card-title">Botanas</h5>
                    <p class="card-text">
                        Productos de alimentos en botanas (papas, palomitas, cacahuates, etc..).
                    </p>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-success w-100" routerLink="/botanas">Ver productos</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/cards/img5.jpg" class="card-img-top" alt="/assets/img/cards/img5.jpg">
                <div class="card-body">
                    <h5 class="card-title">Bebidas</h5>
                    <p class="card-text">Productos de bebidas (agua, jugo, refresco, etc..).</p>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-success w-100" routerLink="/bebidas">Ver productos</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/cards/img6.jpg" class="card-img-top" alt="/assets/img/cards/img6.jpg">
                <div class="card-body">
                    <h5 class="card-title">Higiene</h5>
                    <p class="card-text">
                        Productos de higiene (jabon, shampoo, desinfectante, etc..).
                    </p>
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-success w-100" routerLink="/higiene">Ver productos</a>
                </div>
            </div>
        </div>
    </div>
</div>