<app-menu></app-menu>

<div class="container">
    <div class="py-4">
        <div class="card fondo">
            <h1 class="text-center text-white">Productos Higiene</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/productos/foca.jpg" class="card-img-top" alt="/assets/img/cards/img1.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title">Jabon Foca 1kg</h5>
                    <p class="card-text">
                        <span class="fw-bold">Precio:</span> <span class="fw-bold text-success">$15</span>
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-end w-50">
                        <i class="bi bi-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/productos/ariel.jpg" class="card-img-top" alt="/assets/img/cards/img2.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title">Jabon Ariel 1kg</h5>
                    <p class="card-text">
                        <span class="fw-bold">Precio:</span> <span class="fw-bold text-success">$15</span>
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-end w-50">
                        <i class="bi bi-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/productos/ace.jpg" class="card-img-top" alt="/assets/img/cards/img3.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title">Jabon Ace 1kg</h5>
                    <p class="card-text">
                        <span class="fw-bold">Precio:</span> <span class="fw-bold text-success">$15</span>
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-end w-50">
                        <i class="bi bi-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/productos/princesa.jpg" class="card-img-top" alt="/assets/img/cards/img4.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title">Jabon Princesa 1kg</h5>
                    <p class="card-text">
                        <span class="fw-bold">Precio:</span> <span class="fw-bold text-success">$15</span>
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-end w-50">
                        <i class="bi bi-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/productos/persil.jpg" class="card-img-top" alt="/assets/img/cards/img5.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title">Jabon Persil 1kg</h5>
                    <p class="card-text">
                        <span class="fw-bold">Precio:</span> <span class="fw-bold text-success">$15</span>
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-end w-50">
                        <i class="bi bi-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/productos/roma.jpg" class="card-img-top" alt="/assets/img/cards/img6.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title">Jabon Roma 1kg</h5>
                    <p class="card-text">
                        <span class="fw-bold">Precio:</span> <span class="fw-bold text-success">$15</span>
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-end w-50">
                        <i class="bi bi-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/productos/123.jpg" class="card-img-top" alt="/assets/img/cards/img6.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title">Jabon 123 1kg</h5>
                    <p class="card-text">
                        <span class="fw-bold">Precio:</span> <span class="fw-bold text-success">$15</span>
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-end w-50">
                        <i class="bi bi-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/productos/blancanieves.jpg" class="card-img-top" alt="/assets/img/cards/img6.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title">Jabon Blanca Nieves 1kg</h5>
                    <p class="card-text">
                        <span class="fw-bold">Precio:</span> <span class="fw-bold text-success">$15</span>
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-end w-50">
                        <i class="bi bi-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/productos/bold3.jpg" class="card-img-top" alt="/assets/img/cards/img6.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title">Jabon Bold 3 1kg</h5>
                    <p class="card-text">
                        <span class="fw-bold">Precio:</span> <span class="fw-bold text-success">$15</span>
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-end w-50">
                        <i class="bi bi-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/assets/img/productos/maestro.jpg" class="card-img-top" alt="/assets/img/cards/img6.jpg">
                <div class="card-body text-center">
                    <h5 class="card-title">Jabon Maestro Limpio 1kg</h5>
                    <p class="card-text">
                        <span class="fw-bold">Precio:</span> <span class="fw-bold text-success">$15</span>
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-end w-50">
                        <i class="bi bi-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
